<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="static/img/logo.png" alt="logo" class="logo"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('create_meeting') }}">Create Meeting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#about" role="button" aria-expanded="false"
                        aria-controls="about">
                        About Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- about us -->
<div class="collapse container mt-3" id="about">
    <div class="card card-body shadow-effect" style="text-align: justify;">
        We are a team of dedicated professionals who are passionate about making your meetings more productive and
        efficient. Our website provides various features such as creating Zoom meetings, converting meeting notes to
        different languages, generating a summary of your meeting in audio format, and sending the summary to different
        users through email.
        <br>
        Our goal is to help businesses and individuals save time and resources by automating the process of summarizing
        meetings. We understand the importance of meetings in achieving organizational goals, but we also know that
        summarizing meetings can be a tedious and time-consuming task. With our meeting summary generator, you can now
        focus on the meeting itself and leave the summarization process to us.
        <br>
        We are committed to providing a high-quality and user-friendly experience to our clients. Our team is constantly
        working to improve our website and develop new features that can enhance the meeting experience for our users.
        Whether you are a small business owner or a corporate executive, we are here to make your meetings more
        productive and efficient.
        <br>
        Thank you for choosing our meeting summary generator website. We look forward to serving you!
    </div>
</div>